/* GRADIENTS BY https://webgradients.com */


/* 016 Deep Blue */
.deep_blue{
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
} 

/* 019 Malibu Beach */
.malibu_beach{
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

/* 020 New Life */
.new_life{
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
} 

.videos_gradient {
    background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
}